Repository googleapis/java-security-private-ca, pull requests merged in 2021-09, with the labels that each got.

#273 chore: remove readme autosynth config
  .github/readme/synth.metadata/synth.metadata
  .github/readme/synth.py
  .kokoro/continuous/readme.cfg
Labels: automerge, kokoro:force-run, cla: yes, api: security-privateca

#264 docs(samples): added samples for issuance policy and certificate templates
  README.md
  samples/snippets/cloud-client/src/main/java/privateca/CreateCertificate.java
  samples/snippets/cloud-client/src/main/java/privateca/CreateCertificateTemplate.java
  samples/snippets/cloud-client/src/main/java/privateca/CreateSubordinateCa.java
  samples/snippets/cloud-client/src/main/java/privateca/DeleteCertificateTemplate.java
  samples/snippets/cloud-client/src/main/java/privateca/FilterCertificates.java
  samples/snippets/cloud-client/src/main/java/privateca/ListCertificateTemplates.java
  samples/snippets/cloud-client/src/main/java/privateca/UpdateCaPool_IssuancePolicy.java
  samples/snippets/cloud-client/src/main/java/privateca/UpdateCertificateTemplate.java
  samples/snippets/cloud-client/src/test/java/privateca/SnippetsIT.java
Labels: cla: yes, samples, api: security-privateca

#274 docs(samples): added samples and tests for updating and monitoring CA
  README.md
  samples/snippets/cloud-client/src/main/java/privateca/MonitorCertificateAuthority.java
  samples/snippets/cloud-client/src/main/java/privateca/UpdateCertificateAuthority.java
  samples/snippets/cloud-client/src/test/java/privateca/SnippetsIT.java
  samples/snippets/pom.xml
Labels: cla: yes, samples, api: security-privateca

#280 chore: relocate owl bot post processor
  .github/.OwlBot.lock.yaml
  .github/.OwlBot.yaml
Labels: automerge, cla: yes, api: security-privateca

#290 chore: change branch master to main in github configurations
  .github/sync-repo-settings.yaml
Labels: automerge, cla: yes, api: security-privateca
